{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>{% block title %}Sleep Assistant{% endblock %}</title>

	<link rel="stylesheet" href="{% static 'foundation/css/normalize.css' %}" />
	<!-- If you are using CSS version, add this -->
	<link rel="stylesheet" href="{% static 'foundation/css/foundation.min.css' %}" />

	<script src="{% static 'foundation/js/vendor/custom.modernizr.js' %}"></script>
</head>

<body>
	<!-- body content here -->
	{% block header %}
		<nav style="margin-bottom:3px;" class="top-bar"> 
			<ul class="left">
				<li class="name">
				<h1><a href="{%url 'sleep' %}">Record</a></h1>
				</li>
			</ul>
			<ul class="right">
				<li class="name">
				<h1><a href="{% url 'summary' %}">Summary</a></h1>
				</li>
			</ul>

		<div style="width:100%">
			<div class="center">
				<div style="text-align:center" class="name">
					<!-- TODO: pass today's record's id -->
					<h1><a href="{% url 'journal_entry' 2013 5 24 %}">Journal</a></h1> 
				</div>
			</div>
		</div>

		</nav>
		<div style="margin-right:3px;" class="right">
			{% if user.is_authenticated %}
				<form display="none" id="logout_form" method="post" action="{% url 'account_logout' %}" class="custom">
					{% csrf_token %}
				</form>
				<a style="margin-bottom:2px;" class="small round button" onclick="$('#logout_form').submit();">
					Logout
				</a>
			{% else %}
				<a style="margin-bottom:2px;" href="{% url 'account_login' %}" class="small button round">
					Login
				</a>
			{% endif %}
		</div>
	{% endblock %}
	
	<div class="container">
	{% block content %}
	{% endblock %}
	</div>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{% static 'foundation/js/foundation.min.js' %}"></script>
	<script>
		$(function(){
			$(document).foundation();
		})
	</script>
	{% block javascript %}{% endblock %}
</body>

</html>