{% extends "phone_base.html" %}

{% block title %}
Journal Entry
{% endblock %}

{% block content %}
    <div class="row">
         <div style="padding-left:3px;"><h4>Journal Entry</h4></div>

        <fieldset>
            <!-- Controls -->
            <div class="small-12 columns text-center">
                <h5 class="subheader">Your Sleep Journal Entry</h5>
            </div>
            <div class="small-12 columns text-center">
                <ul class="button-group round even-3">
                    <!-- TODO: next_id / prev_id == None or 0 -->
                    {% if prev_date == None %}
                        <li><a href="#" class="disabled button alert">&lt;</a></li>    
                    {% else %}
                        <li><a href="{% url 'journal_entry' prev_date.year prev_date.month prev_date.day %}" class="button alert">&lt;</a></li>
                    {% endif %}
                    <li><h4 class="text-center">{{ date }}</h4></li>
                    {% if next_date == None %}
                        <li><a href="#" class="disabled button alert">&gt;</a></li>
                    {% else %}
                        <li><a href="{% url 'journal_entry' next_date.year next_date.month next_date.day %}" class="button alert">&gt;</a></li>
                    {% endif %}
                    
                </ul>
            </div>

            {% if record == None %}
                <!-- Record does not exist -->
                <div class="small-12 columns text-center">
                    <h5 class="subheader">Sorry, the record on {{ date }} cannot be found.</h5>
                    <a href="{% url 'update_journal_entry' date.year date.month date.day %}" class="button medium success radius">Create</a>
                </div>
            {% else %}
                <!-- Table -->
                <table align="center">
                    <tbody>
                        <tr>
                            <td>Time in Bed:</td>
                            <td>{{ record.in_bed }}</td>
                        </tr>
                        <tr>
                            <td>Fell Asleep At:</td>
                            <td>{{ record.fall_asleep }}</td>
                        </tr>
                        <tr>
                            <td>Awake At:</td>
                            <td>{{ record.wake_up }}</td>
                        </tr>
                        <tr>
                            <td>Time out of Bed:</td>
                            <td>{{ record.out_bed }}</td>
                        </tr>
                        <tr>
                            <td>Awake through Night:</td>
                            <td>{{ record.awake_hours|floatformat:-2 }} hours</td>
                        </tr>
                        <tr>
                            <td>Time Awake in Bed:</td>
                            <td>{{ record.time_awake_in_bed|floatformat:-2 }} hours</td>
                        </tr>
                        <tr>
                            <td>Time asleep at Night:</td>
                            <td>{{ record.time_asleep_at_night|floatformat:-2 }} hours</td>
                        </tr>
                        <tr>
                            <td>Time Spent Napping:</td>
                            <td>{{ record.napping_hours|floatformat:-2 }} hours</td>
                        </tr>
                        <tr>
                            <td>Total Asleep Time:</td>
                            <td>{{ record.total_time_asleep|floatformat:-2 }} hours</td>
                        </tr>
                        <tr>
                            <td>Morning Grogginess:</td>
                            <td>{{ record.grogginess }} minutes</td>
                        </tr>
                    </tbody>
                </table>
            <div class="text-center"><a href="{% url 'update_journal_entry' date.year date.month date.day %}" class="button medium success radius">Edit Entry</a>
            </div>
            <table align="center">
            <thead>
            <tr>
              <th width="150">12am-2am</th>
              <th width="150">2am-4am</th>
              <th width="150">4am-6am</th>
              <th width="150">6am-8am</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{record.zero_two}}</td>
              <td>{{record.two_four}}</td>
              <td>{{record.four_six}}</td>
              <td>{{record.six_eight}}</td>
            </tr>
          </tbody>
        </table>
        <table align="center">
          <thead>
            <tr>
              <th width="150">8am-10am</th>
              <th width="150">10am-12pm</th>
              <th width="150">12pm-2pm</th>
              <th width="150">2pm-4pm</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{record.eight_ten}}</td>
              <td>{{record.ten_twelve}}</td>
              <td>{{record.twelve_fourteen}}</td>
              <td>{{record.fourteen_sixteen}}</td>
            </tr>
          </tbody>
        </table>
        <table align="center">
          <thead>
            <tr>
              <th width="150">4pm-6pm</th>
              <th width="150">6pm-8pm</th>
              <th width="150">8pm-10pm</th>
              <th width="150">10pm-12am</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{record.sixteen_eighteen}}</td>
              <td>{{record.eighteen_twenty}}</td>
              <td>{{record.twenty_twenty_two}}</td>
              <td>{{record.twenty_two_zero}}</td>
            </tr>
          </tbody>
        </table>
                


        <div class="text-center"><a href="{% url 'alertness_entry' date.year date.month date.day %}" class="button medium success radius">Edit Alertness</a>
        </div>
            {% endif %}
        </fieldset>
    </div>
{% endblock %}
