{% extends "phone_base.html" %}

{% block title %}
Sleep Journal
{% endblock %}

{% block navheader %}
Sleep Journal
{% endblock %}

{% load humanize %}
{% block content %}
    <!--<div id="vertical-center" class="small-12 columns">-->
    <div class="small-12 columns vertical-space">
            <h3 class="subheader text-center">
                {% if record.is_completed != True %}
                    <a href="{% url 'update_journal_entry' date.year date.month date.day %}">Uncompleted</a> 
                {% endif %}
                Journal: 
                <a href="#"><strong>{{ date }}</strong></a>
            </h3>

            <div class="small-12 columns text-center">
                <ul class="button-group even-3 round">
                    <!-- TODO: next_id / prev_id == None or 0 -->
                    {% if prev_date == None %}
                        <li><a href="#" class="disabled button">--</a></li>    
                    {% else %}
                        <li><a href="{% url 'journal_entry' prev_date.year prev_date.month prev_date.day %}" class="button"><</a></li>
                    {% endif %}
                    {% if record == None %}
                        <li><a href="{% url 'update_journal_entry' date.year date.month date.day %}" class="button secondary">Create</a></li>
                    {% else %}
                        <li><a href="{% url 'update_journal_entry' date.year date.month date.day %}" class="button secondary">Edit</a></li>
                    {% endif %}
                    {% if next_date == None %}
                        <li><a href="#" class="disabled button">--</a></li>
                    {% else %}
                        <li><a href="{% url 'journal_entry' next_date.year next_date.month next_date.day %}" class="button">></a></li>
                    {% endif %}
                </ul>
            </div>
            <hr>

            {% if record != None %}
                <h6 class="subheader">
                    <div class="section-container auto" data-section>
                        <section>
                            <p class="title" data-section-title><a href="#">&emsp;&emsp;Sleep Data&emsp;&emsp;</a></p>
                            <div class="content" data-section-content>

                                <div class="row">
                                    <div class="small-6 columns text-right">Went to bed at:</div>
                                    <div class="small-6 columns">
                                        {% if record.in_bed %}
                                            {{ record.in_bed.time }} [{{ record.in_bed.date|naturalday }}]
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-6 columns text-right">Fell asleep at:</div>
                                    <div class="small-6 columns">
                                        {% if record.fall_asleep %}
                                            {{ record.fall_asleep.time }} [{{ record.fall_asleep.date|naturalday }}]
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-6 columns text-right">Woke up at:</div>
                                    <div class="small-6 columns">
                                        {% if record.wake_up %}
                                            {{ record.wake_up.time }} [{{ record.wake_up.date|naturalday }}]
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-6 columns text-right">Left bed at:</div>
                                    <div class="small-6 columns">
                                        {% if record.out_bed %}
                                            {{ record.out_bed.time }} [{{ record.out_bed.date|naturalday }}]
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="small-6 columns text-right">Hours awake at night:</div>
                                    <div class="small-6 columns">
                                        {% if record.awake_hours %}
                                            {{ record.awake_hours|floatformat:2|intcomma }} 
                                            {% if record.awake_hours == 1 %}hour{% else %}hours{% endif %}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-6 columns text-right">Morning Grogginess:</div>
                                    <div class="small-6 columns">
                                        {% if record.grogginess %}
                                            {{ record.grogginess|floatformat:2|intcomma }} 
                                            {% if record.grogginess == 1 %}minute{% else %}minutes{% endif %}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </div>

                                <hr>
                                
                                <div class="row">
                                    <div class="small-6 columns text-right">Hours spent napping:</div>
                                    <div class="small-6 columns">
                                        {% if record.napping_hours %}
                                            {{ record.napping_hours|floatformat:2|intcomma }} 
                                            {% if record.napping_hours == 1 %}hour{% else %}hours{% endif %}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </div>

                                <hr>
                                
                                <div class="row">
                                    <div class="small-6 columns text-right">Time awake in bed (calculated):</div>
                                    <div class="small-6 columns">
                                        {% if record.time_awake_in_bed %}
                                            {{ record.time_awake_in_bed|floatformat:2|intcomma }} 
                                            {% if record.time_awake_in_bed == 1 %}hour{% else %}hours{% endif %}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-6 columns text-right">Time asleep at night (calculated):</div>
                                    <div class="small-6 columns">
                                        {% if record.time_asleep_at_night %}
                                            {{ record.time_asleep_at_night|floatformat:2|intcomma }} 
                                            {% if record.time_asleep_at_night == 1 %}hour{% else %}hours{% endif %}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="small-6 columns text-right">Total asleep time (calculated):</div>
                                    <div class="small-6 columns">
                                        {% if record.total_time_asleep %}
                                            {{ record.total_time_asleep|floatformat:2|intcomma }} 
                                            {% if record.total_time_asleep == 1 %}hour{% else %}hours{% endif %}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </section>

                       
                        <section>
                            <p class="title" data-section-title><a href="#">&emsp;&emsp;Alertness Data&emsp;&emsp;</a></p>
                            <div class="content" data-section-content>

                                <div class="row">
                                    <div class="small-6 columns text-right">12 A.M. &mdash; 2 A.M.</div>
                                    <div class="small-6 columns">
                                        {% if record.zero_two %}
                                            {{ record.zero_two }}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-6 columns text-right">2 A.M. &mdash; 4 A.M.</div>
                                    <div class="small-6 columns">
                                        {% if record.two_four %}
                                            {{ record.two_four }}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-6 columns text-right">4 A.M. &mdash; 6 A.M.</div>
                                    <div class="small-6 columns">
                                        {% if record.four_six %}
                                            {{ record.four_six }}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-6 columns text-right">6 A.M. &mdash; 8 A.M.</div>
                                    <div class="small-6 columns">
                                        {% if record.six_eight %}
                                            {{ record.six_eight }}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-6 columns text-right">8 A.M. &mdash; 10 A.M.</div>
                                    <div class="small-6 columns">
                                        {% if record.eight_ten %}
                                            {{ record.eight_ten }}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-6 columns text-right">10 A.M. &mdash; 12 P.M.</div>
                                    <div class="small-6 columns">
                                        {% if record.ten_twelve %}
                                            {{ record.ten_twelve }}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="small-6 columns text-right">12 P.M. &mdash; 2 P.M.</div>
                                    <div class="small-6 columns">
                                        {% if record.twelve_fourteen %}
                                            {{ record.twelve_fourteen }}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-6 columns text-right">2 P.M. &mdash; 4 P.M.</div>
                                    <div class="small-6 columns">
                                        {% if record.fourteen_sixteen %}
                                            {{ record.fourteen_sixteen }}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-6 columns text-right">4 P.M. &mdash; 6 P.M.</div>
                                    <div class="small-6 columns">
                                        {% if record.sixteen_eighteen %}
                                            {{ record.sixteen_eighteen }}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-6 columns text-right">6 P.M. &mdash; 8 P.M.</div>
                                    <div class="small-6 columns">
                                        {% if record.eighteen_twenty %}
                                            {{ record.eighteen_twenty }}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-6 columns text-right">8 P.M. &mdash; 10 P.M.</div>
                                    <div class="small-6 columns">
                                        {% if record.twenty_twenty_two %}
                                            {{ record.twenty_twenty_two }}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-6 columns text-right">10 P.M. &mdash; 12 A.M.</div>
                                    <div class="small-6 columns">
                                        {% if record.twenty_two_zero %}
                                            {{ record.twenty_two_zero }}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section>
                            <p class="title" data-section-title><a href="#">&emsp;&emsp;Overall Data&emsp;&emsp;</a></p>
                            <div class="content" data-section-content>
                                <div class="row">
                                    <div class="small-6 columns">Overall feeling:</div>
                                    <div class="small-6 columns">
                                        {% if record.overall %}
                                            {{ record.overall }}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-6 columns">Time with optimal alertness:</div>
                                    <div class="small-6 columns">
                                        {% if record.optimal_time %}
                                            {{ record.optimal_time.time }}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </secion>
                    </div>
                </h6>
            {% endif %}

    </div>
{% endblock %}

{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" />
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/layout.js' %}"></script>
{% endblock %}
