{% extends "phone_base.html" %}
{% block content %}
{% load staticfiles %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}" />

    <div class="bgimg">
        <img class="centerImg" src="{% static 'images/homeText.png' %}"/>
        <img class="centerImg" src="{% static 'images/hometext2.png' %}"/>
    
    <br />
    <div class="text-center"><a href="#" data-reveal-id="firstModal" class="medium button">About&hellip;</a></div>
    
    <div class="text-center"><a href="{% url 'account_login' %}" class="medium button ">Login</a></div>

    <br />

    <div id="firstModal" class="text-center reveal-modal">
          <br /><h2>Welcome to Sleep Assistant!</h2>
          <p>This is your personal assistant that will help you track you sleep thourgh the course of Sleep &amp; Dreams. You will be able to easily track your sleep data and have everything you need to learn about imporving your sleep hygene!</p>
          
          <a class="close-reveal-modal">&#215;</a>
          <div><a data-reveal-id="secondModal" class="button small">Next</a></div>
        </div>
        <div id="secondModal" class="text-center reveal-modal">
          <h2 class="text-center">Record</h2>
          <br /><h4>Lets you actively record your sleep data through your daily life</h4>
          <a class="close-reveal-modal">&#215;</a>
          <div><a data-reveal-id="thirdModal" class="button small">Next</a></div>
        </div>
        <div id="thirdModal" class="text-center reveal-modal">
          <h2 class="text-center">Journal</h2>
          <br /><h4>Check out your sleep data for the day and update any missing fields</h4>
          <a class="close-reveal-modal">&#215;</a>
          <div><a data-reveal-id="fourthModal" class="button small">Next</a></div>
        </div>
        <div id="fourthModal" class="text-center reveal-modal">
          <h2 class="text-center">Summary</h2>
          <br /><h4>Shows you a summary of your key sleep data for quick reference!</h4>
          <a class="close-reveal-modal">&#215;</a>
          <br /><br />
          <h4> You're now ready to start tracking your sleep with your brand new <em>Sleep Assistant!</em></h4>
          <div class="text-center"><a href="{% url 'account_login' %}" class="medium button ">Login</a></div>
        </div>
        </div>
    </div>
    
{% endblock %}
