{% extends "phone_base.html" %}

{% block title %}
Summary
{% endblock %}

{% block content %}
    <div class="row">
        <div style="padding-left:3px;"><h4>Summary</h4></div>

        <fieldset>
            <div class="small-12 columns text-center">
                <h5 class="subheader">Number of Recorded Sleeps:</h5>
                <h4>{{ record_count }}</h4>
            </div>
            
            <div class="small-12 columns text-center">
                <h5 class="subheader">Your Current Sleep Debt</h5>
                <h4>{{ sleep_debt }}</h4>
            </div>

            <div class="small-12 columns text-center">
                <h5 class="subheader">Your Average Sleep Hours</h5>
                <h4>{{ average_sleep_hours }}</h4>
            </div>

            <div class="small-12 columns text-center">
                <h5 class="subheader">Your Average Morning Grogginess</h5>
                <h4>{{ average_grog }}</h4>
            </div>
        </fieldset>
    </div>
{% endblock %}