{% extends "phone_base.html" %}

{% block title %}
Summary
{% endblock %}

{% block navheader %}
Summary
{% endblock %}

{% load humanize %}
{% block content %}
    <div id="vertical-center" class="small-12 columns">
        <fieldset>
            <div class="row text-center">
                <h4 class="subheader">
                    Sleep Assistant found <a href="#"><strong>{{ record_count|intcomma }}</strong></a> sleep {% if record_count == 1 %}record{% else %}records{% endif %} of you.
                </h4>
                <h4 class="subheader">
                    According to our calculation, you have cumulated <a href="#"><strong>{{ sleep_debt|floatformat:2|intcomma }}</strong></a> hours of Sleep Debt.
                </h4>
                <h4 class="subheader">
                    On average, you slept <a href="#"><strong>{{ average_sleep_hours|floatformat:2|intcomma }}</strong></a> hours per day.
                </h4>
                <h4 class="subheader">
                   and you experienced <a href="#"><strong>{{ average_grog|floatformat:2|intcomma }}</strong></a> minutes of grogginess every morning.
                </h4>
            </div>
        </fieldset>
    </div>
{% endblock %}

{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" />
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/layout.js' %}"></script>
{% endblock %}